.container-avatar,
.pub_image .container-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    /* Asegura que la imagen no sobresalga */
    display: flex;
    margin-right: 0;
    justify-content: right;
    border: 2px solid white;
    /* Añade un borde blanco */
}

.avatar,
.pub_image .container-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Evita que la imagen se deforme */

}

#user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #4CAF50;
    float: left;
    margin-right: -5px;

}

#nick-pag-ini {
    line-height: 50px;
}

#container-info{
    height: 120px;
}


#btn-comments {
    width: 130px;
    height: 30px;
}

#likes {
    
    margin-right: 20px;
}

#like-count {

}

#date-created {
    font-size: 11px;
}

#likes-detail {
    margin-right: 90px;

}

.number_likes {
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: -8px;
}

.number_likes_detail {
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -8px;
}

#profile-user {

    display: flex;

    justify-content: center;
    /* Centrado horizontal */
    align-items: center;

    flex-wrap: nowrap;
}

#profile-user #container-avatar {
    width: 120px;
    height: 120px;

    flex-shrink: 0;
    border-radius: 900px;
    overflow: hidden;

}

#profile-user #container-avatar img {
    width: 100%;
    height: 100%;

}

#profile-user #user-info {
    padding-left: 10px;

}

.logo {
  width: 100px;        /* Ajusta el tamaño */
  height: auto;        /* Mantiene la proporción */
  display: block;      /* Elimina espacio extra */
  margin: 0 auto;      /* Centrado horizontal */
  border-radius: 12px; /* Bordes redondeados */
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05); /* Efecto al pasar el cursor */
}

.logo_login {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
     margin-bottom: 0;
  /* Solución para eliminar el marco invisible inferior */
  vertical-align: bottom; /* o top / middle, según cómo se alinee mejor */
  
  
}

.logo-wrapper {
  width: 400px;
  height: 300px;       /* 🔥 Aquí defines cuánto recortas (ej: recortas 50px arriba y 50px abajo) */
  overflow: hidden;    /* Oculta lo que se sale */
  margin: 0 auto;
}