.container-avatar,
.pub_image .container-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden; /* Asegura que la imagen no sobresalga */
    display: flex;
    margin-right: 0;
    justify-content: right;
    border: 2px solid white; /* Añade un borde blanco */
}

.avatar,
.pub_image .container-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Evita que la imagen se deforme */

}
#user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #4CAF50;
    float:left;
    margin-right:-5px;
    
}
#nick-pag-ini{
    line-height:50px;
}

#btn-comments{
    width: 130px;
    height: 55px;
}

#likes{
    margin-right:30px ;
}

#date-created{
    font-size: 11px;
}

#likes-detail{
    margin-right:90px ;
    
}
.number_likes{
    color: black;
    font-size:14px;
    font-weight: bold;
    position: relative;
    top: -8px;
}